
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

logs/
*.log

*.pid
*.seed
*.pid.lock
*.pidfile
Dockerfile.*
docker-compose.*
.dockerignore

dist/
build/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

public/dist/
public/build/

.env.*
*.local
coverage/
